@page "/ClienteAdd"

@using OnlineBlazorApp.Data.Model
@using OnlineBlazorApp.Data.Service 

@inject IClienteService ClienteService
@inject NavigationManager NavigationManager



<h1>Adicionar Cliente</h1>

<EditForm Model="@cliente" OnValidSubmit="@ClienteInsert">
    <table>
        <tr>
            <td>Código:</td>
            <td><input type="text" @bind="cliente.IdCliente" required /></td>
        </tr>
        <tr>
            <td>Nombre:</td>
            <td><input type="text" @bind="cliente.NombreCliente" required /></td>
        </tr>
        <tr>
            <td>Apellido:</td>
            <td><input type="text" @bind="cliente.ApellidoCliente" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" @bind="cliente.EmailCliente" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Adicionar" />
                <input type="button" value="Cancelar" @onclick="@Cancel" />
            </td>
        </tr>

    </table>

</EditForm>



@code {

    Cliente cliente = new Cliente();

    protected async Task ClienteInsert()
    {
        await ClienteService.ClienteInsert(cliente);

        NavigationManager.NavigateTo("/");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
